*.git
*.log
bundle/
.bundle
.vagrant
.backup/
old/
/db/*.sqlite3
/db/*.sqlite3-journal
/log/
!/log/.keep
/tmp
vendor/assets/bower_components
doc/
*.swp
*~
.*.un~
.project
.DS_Store
.idea
.secret
\#
.netrwhist
/bin

# Ignore tags
tags

node_modules/

